# exposed functions
export( mi.univariate.subset  )
export( mi.univariate )
export( plot.qq )
export( ABO.lk.surfs )
export( ABO.lk.pars )
export( calc.lBF )
export( marginal.posterior.profile )
export( draw_tree )
export( trim_tree )

# packages used
import( data.table )
import( plotly )
import( Rgraphviz )
import( graph )
import( BiocGenerics )
import( parallel )
import( magrittr )
